@charset "utf-8";
/* CSS Document */
.Navigation li {
	list-style-type: none;
	text-align: center;
	float: left;
}
.Navigation a {
	text-decoration-line: none;
	color: dimgrey;
	font-family: gilbert-color,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20pt;
	display: block;
	width: 200px;
	padding: 8px;
	background-color: lightgrey;
}
.Navigation a:hover {
	background-color: #555;
	color: white;
}
.Navigation ul {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}
/* In Navbar, active page has green background */
.active {
	background-color: #03C70E !important;
	color: white !important;
}
.Navigation {
	align-content: Right;
	
}