@charset "utf-8";
/* CSS Document */
.Navigation li {
	list-style-type: none;
	float: right;
}
.Navigation a {
	text-decoration-line: none;
	color: dimgrey;
	font-family: gilbert-color,sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20pt;

	width: 150px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #CCCCCC;
}
.Navigation a:hover {
	background-color: #555;
	color: white;
}
.Navigation ul {
	margin: 0;
	padding: 0;
	width: auto;
	background-color: #CCCCCC;

}
.Navigation {
	display:inline-block;
	float:right;
	margin-top:1%;
}
/* In Navbar, active page has green background */
.active {
	background-color: #EC3838 !important;
	color: white !important;
}
#logo {
	width: 100%;
	height: auto;
	display:inline-block;
}
#imgdiv {
	display:inline-block;
	width:10%;
	height: auto;
}