@charset "utf-8";
/* CSS Document */
#page-title {
	position: relative;	
	padding: 16px;
}
h1 {
	text-align: center;
	font-family: gilbert-color,sans-serif;
	color: #EC3838;
}
.itemDescription {
	font-weight: 850;
	font-size:24pt;
	text-align: center;
}
.item {
	border: solid #000 1px;
	width: 25%;
	padding-bottom: 5px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 75%;
}

.itemImage {
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.item:hover {
	border: Solid #000 3px !important;
}
