@charset "utf-8";
/* CSS Document */
#main-title {
	position: relative;	
	padding-bottom: 0;
	padding-top: 16px;
}
h1 {
	text-align: center;
	font-family: gilbert-color,sans-serif;
	color: #EC3838;
	font-size: 30pt;
}
p {
	font-weight: 850;
	text-align: center;
}
.item {
	border: solid #000 1px;
	width: 25%;
	padding-bottom: 5px;
	display: inline-block;
}

.itemImage {
	height: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.item:hover {
	border: Solid #000 3px !important;
}
