@charset "utf-8";
/* CSS Document */
#main-title {
	font-family: gilbert-color,sans-serif;
	color: #EC3838;
	text-align: center;
	font-size: 30pt;
	position: relative;	
	padding-bottom: 0;
	padding-top: 16px;
}
.orderingScreen {
	border-style: solid #000000 3px;
	float: right;
	display: block;
	width: 1500px;
	height: 900px;
	margin: 15px;
	padding: 5px
}